#processing-form-container label.checkbox.inline.disabled {
  color: #ccc;
}

#processing-results > div.menu-content {
  background-color: transparent; /* remove color for atlas */
  font-size: 12px;
}

#processing-results > div.menu-content > div {
  margin: 5px 0px;
  padding: 0px 5px;
  background-color: rgb(240, 240, 240);
  display: block;
}

#processing-log-table tr td div.progress{
    width:50px;
}
#processing-log-table tr td div.progress div.bar {
    -webkit-animation: slide 5000ms infinite linear;
    -moz-animation: slide 5000ms infinite linear;
    -o-animation: slide 5000ms infinite linear;
    animation: slide 5000ms infinite linear;
}
#processing-log-table tr td div.progress div.bar-hidden {
    background-color: transparent;
    background-image: none;
    -webkit-animation: slide-hidden 5000ms infinite linear;
    -moz-animation: slide-hidden 5000ms infinite linear;
    -o-animation: slide-hidden 5000ms infinite linear;
    animation: slide-hidden 5000ms infinite linear;
}

#processing-results-plot{
    display: inline-flex;
}

#processing-results-plot > div{
    flex-grow: 1;
}

#processing-log-tab{
    display: inline-block!important;
    vertical-align: top;
}

#processing-log-tab{
    width: 365px;
}

#processing-results > div.menu-content > #processing-results-all{
    width: calc(100% - 390px);
    display:inline-flex;
}

#processing-results-all > div{
    flex-grow: 1;
}

#processing-log-list{
    list-style: none;
    margin-left: 0;
}

#processing-log-list li .title{
    cursor: pointer;
}

#processing-log-list > li:before{
    content: "\2023";
    margin-right: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}

#processing-log-list li.expanded:before{
    display: inline-block;
    transform: rotate(90deg);
}

#processing-log-list li ul.processing-log-list-results{
    display: none;
}

#processing-log-list li.expanded ul.processing-log-list-results{
    display: block;
}

@-webkit-keyframes slide {
    0%   { width:   0%; }
    50%  { width: 100%; }
    100% { width:   0%; }
}

@-webkit-keyframes slide-hidden {
    0%   { width:   0%; }
    50%  { width:   0%; }
    100% { width: 100%; }
}

@-moz-keyframes slide {
    0%   { width:   0%; }
    50%  { width: 100%; }
    100% { width:   0%; }
}

@-moz-keyframes slide-hidden {
    0%   { width:   0%; }
    50%  { width:   0%; }
    100% { width: 100%; }
}


@-o-keyframes slide {
    0%   { width:   0%; }
    50%  { width: 100%; }
    100% { width:   0%; }
}

@-o-keyframes slide-hidden {
    0%   { width:   0%; }
    50%  { width:   0%; }
    100% { width: 100%; }
}

@keyframes slide {
    0%   { width:   0%; }
    50%  { width: 100%; }
    100% { width:   0%; }
}

@keyframes slide-hidden {
    0%   { width:   0%; }
    50%  { width:   0%; }
    100% { width: 100%; }
}
