#processing-form-container label.checkbox.inline.disabled {
  color: #ccc;
}

#processing-results > div.menu-content {
  background-color: transparent; /* remove color for atlas */
  font-size: 12px;
}

#processing-log-table tr td div.progress{
    width:50px;
}
#processing-log-table tr td div.progress div.bar {
    animation: slide 5000ms infinite linear;
}
#processing-log-table tr td div.progress div.bar-hidden {
    background-color: transparent;
    background-image: none;
    animation: slide-hidden 5000ms infinite linear;
}

#processing-log-list{
    list-style: none;
    margin-left: 0;
}

#processing-log-list .title{
    cursor: pointer;
}

#processing-log-list li .title:before{
    content: "\2023";
    margin-right: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}

#processing-log-list li.expanded .title:before{
    display: inline-block;
    transform: rotate(90deg);
}

#processing-log-list li .processing-log-list-results{
    display: none;
}

#processing-log-list li.expanded .processing-log-list-results{
    display: block;
}

#processing-log-list li .processing-log-list-results input[type="checkbox"] {
    margin: 0;
    align-self: baseline;
    accent-color: var(--color-contrasted-elements);
    flex: 0 0 18px;
    height: 18px;
    width: 18px;
}

#processing-log-list li .processing-log-list-results label {
  font-size: 12px;
}

#processing-results-all{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin: 5px 0px;
    padding: 0px 5px;
}

#processing-results-all > div{
    padding: 2px;
}

#processing-results-all > div + div{
    flex: 1 1 0px;
    border-left: solid 1px lightgray;
}

#processing-log-failed {
  border: 1px solid #F00;
  border-radius: 4px;
  padding: 0 5px;
}

#processing-results-list > div {
    padding: 0 5px;
}

#processing-results-list h4.title,
#processing-log-failed h4.title {
  background-color: #f9f9f9;
  padding: 5px 0;
  font-size: 20px;
}

#processing-log-failed-info {
  display: flex; overflow: auto;
}

#processing-log-failed-info > div {
  margin:0 5px; width: 50%;
}

#processing-results-plot,
#processing-results-list .processing-results-plot-table{
    display: flex;
    overflow: auto;
}

#processing-results-plot > div,
#processing-results-list .processing-results-plot-table > div{
    flex: 1;
    overflow: auto;
}

#bottom-dock{
    width:auto;
}

@keyframes slide {
    0%   { width:   0%; }
    50%  { width: 100%; }
    100% { width:   0%; }
}

@keyframes slide-hidden {
    0%   { width:   0%; }
    50%  { width:   0%; }
    100% { width: 100%; }
}


/* Flash messages */

.flash-message {
    width: fit-content;
    max-width: 250px;
    cursor: default;
    margin: 5px;
    opacity: 1;
}

.flash-message-text {
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 12px 23px;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
    margin-bottom: 0;
}

.flash-message-text:hover {
    transition: 0.2s;
}

.flash-message:not(.closable) > .flash-message-text {
    cursor: default;
}

.flash-message-text.type-info {
    background-color: rgb(210 226 255);
}

.flash-message-text.type-danger {
    background-color: rgb(255 210 210);
}

.flash-message-text.type-success {
    background-color: rgb(191 244 197);
}


.closable > .flash-message-text.type-info:hover {
    background-color: rgb(200 216 255);
}

.closable > .flash-message-text.type-danger:hover {
    background-color: rgb(255 200 200);
}

.closable > .flash-message-text.type-success:hover {
    background-color: rgb(181 234 187);
}


.closable > .flash-message-text.type-info:active {
    background-color: rgb(184 200 255);
}

.closable > .flash-message-text.type-danger:active {
    background-color: rgb(255 184 184);
}

.closable > .flash-message-text.type-success:active {
    background-color: rgb(165 225 161);
}


.timer-bar-holder {
    width: 100%;
    height: 5px;
    border-radius: 0 0 7px 7px;
}

.timer-bar-holder.type-info {
    background-color: rgb(171 198 255);
}

.timer-bar-holder.type-danger {
    background-color: rgb(255 171 171);
}

.timer-bar-holder.type-success {
    background-color: rgb(136 228 146);
}


.timer-bar-scroller {
    width: 100%;
    height: 5px;
    border-radius: 0 0 0 7px;

    /* add a transition: linear ...s into a js script */
}

.timer-bar-scroller.type-info {
    background-color: rgb(84 142 255);
}

.timer-bar-scroller.type-danger {
    background-color: rgb(255 76 76);
}

.timer-bar-scroller.type-success {
    background-color: rgb(44 179 62);
}
